<main>
  <xxx-content contentKey="{{contentKey}}"></xxx-content>
  @if (content$ | async; as content) {
    <section>
      <h2>{{ content?.contentModel?.pageTitle }}</h2>
    </section>
    @if (isUsersLoading$ | async) {
      <p>Loading...</p>
    } @else if (isUsersEmpty$ | async) {
      <p>None found.</p>
    }
    @if (isUsersLoaded$|async) {
      <section>
        <h3>{{ content?.contentModel?.bodyText }}</h3>
        <table class="xxx-table">
          <tr>
            <th class="xxx-table-cell-header">ID</th>
            <th class="xxx-table-cell-header">First Name</th>
            <th class="xxx-table-cell-header">Last Name</th>
          </tr>
          @for (user of users$ | async; track user) {
            <tr class="xxx-table-row"
                [class.active]="(selectedUserId$ | async)===user.id"
                (click)="rowClick(user)">
              <td class="xxx-table-cell">{{ user.id }}</td>
              <td class="xxx-table-cell">{{ user.firstName }}</td>
              <td class="xxx-table-cell">{{ user.lastName }}</td>
            </tr>
          }
        </table>
      </section>
    }
  }
</main>
